main {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

button {
  margin: 20px 10px 0 0;
  border: 1px solid #999;
  border-radius: 6px;
  color: #333;
  padding: 10px;
  width: 120px;
}

output {
  height: 2em;
  margin: 1em 0 0 0;
}

video {
  --width: 45%;
  width: var(--width);
  height: calc(var(--width) * 0.75);
  border: 1px solid #999;
  border-radius: 6px;
}